<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

    
 
   
    
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png"th:href="@{/images/favicon.png}">
    <!-- Pignose Calender -->
    <link href="../static/plugins/pg-calendar/css/pignose.calendar.min.css"th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="../static/plugins/chartist/css/chartist.min.css"th:href="@{/plugins/chartist/css/chartist.min.css}">
    <link rel="stylesheet" href="../static/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css"th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}">
    <!-- Custom Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    

</head>


<body>
<div layout:fragment="content">

</div>
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../static/plugins/common/common.min.js"  th:src="@{/plugins/common/common.min.js}"></script>
    <script src="../static/js/custom.min.js" th:src="@{/js/custom.min.js}"></script>
    <script src="../static/js/settings.js"  th:src="@{/js/settings.js}"></script>
    <script src="../static/js/gleek.js" th:src="@{/js/gleek.js}"></script>
    <script src="../static/js/styleSwitcher.js"th:src="@{/js/styleSwitcher.js}"></script>

    <!-- Chartjs -->
    <script src="../static/plugins/chart.js/Chart.bundle.min.js" th:src="@{/plugins/chart.js/Chart.bundle.min.js}"></script>
    <!-- Circle progress -->
    <script src="../static/plugins/circle-progress/circle-progress.min.js" th:src="@{/plugins/circle-progress/circle-progress.min.js}"></script>
    <!-- Datamap -->
    <script src="../static/plugins/d3v3/index.js"th:src="@{/plugins/d3v3/index.js}"></script>
    <script src="../static/plugins/topojson/topojson.min.js" th:src="@{/plugins/topojson/topojson.min.js}"></script>
    <script src="../static/plugins/datamaps/datamaps.world.min.js" th:src="@{/plugins/datamaps/datamaps.world.min.js}"></script>
    <!-- Morrisjs -->
    <script src="../static/plugins/raphael/raphael.min.js" th:src="@{/plugins/raphael/raphael.min.js}"></script>
    <script src="../static/plugins/morris/morris.min.js" th:src="@{/plugins/morris/morris.min.js}"></script>
    <!-- Pignose Calender -->
    <script src="../static/plugins/moment/moment.min.js"th:src="@{/plugins/moment/moment.min.js}"></script>
    <script src="../static/plugins/pg-calendar/js/pignose.calendar.min.js"th:src="@{/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
    <!-- ChartistJS -->
    <script src="../static/plugins/chartist/js/chartist.min.js" th:src="@{/plugins/chartist/js/chartist.min.js}"></script>
    <script src="../static/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"th:src="@{/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>



    <script src="../static/js/dashboard/dashboard-1.js"th:src="@{/js/dashboard/dashboard-1.js}"></script>
    
     
    

</body>
</html>